.advantages {
  max-width: 100%;
  margin-bottom: 20px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 37px;
}

.advantages__item {
  position: relative;
  margin-bottom: 26px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: @color-green;
  }
}

.advantages__item::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__item--healthy::after {
  width: 26px;
  height: 29px;
  top: 15px;
  left: 17px;
  background-image: url("../img/advantage-leaf@1x.png");


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 26px auto;
  }
}

.advantages__item--fast::after {
  width: 30px;
  height: 32px;
  top: 12px;
  left: 15px;
  background-image: url("../img/advantage-powder@1x.png");


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 30px auto;
  }
}

.advantages__item--easy::after {
  width: 23px;
  height: 30px;
  top: 13px;
  left: 18px;
  background-image: url("../img/advantage-dining@1x.png");


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 23px auto;
  }
}

.advantages__item--effective::after {
  width: 26px;
  height: 31px;
  top: 13px;
  left: 17px;
  background-image: url("../img/advantage-clock@1x.png");


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 26px auto;
  }
}

.advantages__description {
  position: relative;
  margin: 0;
  margin-left: 80px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .advantages {
    margin: 0;
    padding-bottom: 50px;
    border-bottom: 1px solid @color-grey-border;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    position: relative;
    margin: 15px 80px 55px 0;
    padding-top: 170px;

    &::before {
      top: 58px;
      left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__description {
    margin-left: 0;
    width: 245px;
    line-height: 24px;

    &::after {
      counter-increment: advantage;
      content: counter(advantage);
      position: absolute;
      display: block;
      z-index: -1;
      top: -150px;
      right: 0;
      font-size: 280px;
      line-height: 280px;
      color: @color-grey-back;
      font-family: "OswaldRegular", "Arial", sans-serif;
    }
  }

  .advantages__item--healthy::after {
    top: 83px;
    left: 28px;
  }

  .advantages__item--fast::after {
    top: 80px;
    left: 26px;
  }

  .advantages__item--easy::after {
    top: 83px;
    left: 28px;
  }

  .advantages__item--effective::after {
    top: 83px;
    left: 28px;
  }

  .advantages__title {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 5px;
    border: none;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;
    margin: 0;
    padding-top: 185px;

    &::before {
      top: 72px;
    }
  }

  .advantages__item::after {
    top: 97px;
  }
}
