.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__description {
  margin: 0;
  margin-left: 80px;
}

.advantages__wrapper {
  min-height: 447px;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    min-height: 780px;
    width: 708px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 354px;
    min-height: 235px;
  }

  .advantages__title {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1220px;
  }

  .advantages__item {
    width: 305px;
  }
}
