.banner {
  position: relative;
  min-height: 480px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  color: @color-white;
}

.banner__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
}

.banner__slogan {
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.banner .container {
  min-height: 480px;
  padding-top: 30px;
}

.banner__back {
  min-height: 305px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: @color-back-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner__image {
  margin: -138px auto 3px;
  display: block;
  width: 280px;
  min-height: 270px;
  background-color: #ff9f2f;
}

.banner__button {
  margin-top: auto;
  width: 280px;
}

@media (min-width: @tablet-width) and (max-width: 1299px) {
  .banner__back {
    background: @color-white;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    min-height: 840px;
    color: @color-black-two;
  }

  .banner__image {
    margin-top: 20px;
    width: 709px;
    min-height: 609px;
  }

  .banner__heading {
    margin-left: 90px;
    margin-bottom: 30px;
  }

  .banner__slogan {
    margin-left: 90px;
    margin-bottom: 20px;
  }

  .banner__button {
    z-index: 100;
    margin: 0 90px;
  }
}

@media (min-width: @desktop-width) {
  .banner__back {
    left: 50%;
    top: -110px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: left;
  }

  //.banner__image {
  //  margin-top: -550px;
  //  margin-left: 450px;
  //  width: 552px;
  //  min-height: 499px;
  //}

  .banner__button {
    margin-top: -450px;
  }
}
