.banner {
  min-height: 480px;
  margin: 0 auto;
  font-family: "OswaldRegular", "Arial", sans-serif;
  color: @color-white;
}

.banner__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.banner__slogan {
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.banner__back {
  height: 305px;
  margin-top: -90px;
  background-color: @color-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner__image {
  margin: -138px auto 3px;
  display: block;
  width: 280px;
  min-height: 270px;
  background-color: #ff9f2f;
}

.banner__button {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .banner {
    min-height: 840px;
    color: @color-black-two;
  }

  .banner__back {
    margin: 0;
    height: 0;
  }

  .banner__image {
    margin-top: 20px;
    width: 709px;
    min-height: 609px;
  }

  .banner__wrapper {
    width: 710px;
    margin: 0 auto;
  }

  .banner__heading {
    margin-left: 90px;
  }

  .banner__slogan {
    margin-left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .banner__back {
    width: 720px;
    margin: 0;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    margin-top: -165px;
    margin-left: 610px;
  }

  .banner__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .banner__image {
    margin-top: -550px;
    margin-left: 450px;
    width: 552px;
    min-height: 499px;
  }
}

