.banner {
  font-family: "OswaldRegular", "Arial", sans-serif;
  color: @color-white;
  background-color: @color-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.banner__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.banner__slogan {
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
