.catalog {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

//.catalog__list {
//  margin: 0;
//}

.catalog__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
}

.catalog__show-more {
  margin: 0 auto;
  min-height: 125px;
}

.catalog__show-more-title {
  margin: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @color-black-two;
  text-transform: uppercase;
}

.catalog__show-more-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.catalog__show-more-button {
  font-size: 16px;
  line-height: 20px;
  color: @color-greyish-brown;
  background-color: @color-grey-back;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 708px;
  }

  .catalog__list {
    justify-content: space-between;
  }

  .catalog__show-more {
    margin: 0;
    width: 324px;
    min-height: 432px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__show-more {
    width: 245px;
  }
}
