.catalog {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.catalog__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
}

.catalog__item {
  border-top: 1px solid @color-grey-border;
  border-left: 1px solid @color-grey-border;
  border-right: 1px solid @color-grey-border;
}

.catalog__item:last-child {
  border-bottom: 1px solid @color-grey-border;
}

.catalog__show-more {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 79px 20px 24px;

  &::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    top: 25px;
    left: 145px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.catalog__show-more-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: @color-black-two;
  text-transform: uppercase;
}

.catalog__show-more-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.catalog__show-more-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: @color-greyish-brown;
  background-color: @color-grey-back;

  &:hover,
  &:focus {
    background-color: @color-grey-back-button;
  }

  &:active {
    background-color: @color-grey-back-button;
    color: @color-greyish-brown-light;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
    flex-direction: row;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
    border-collapse: collapse;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
  }

  .catalog__show-more {
    margin: 0;
    margin-top: 25px;
    width: 324px;
    padding: 162px 37px 40px;
    border: 1px solid @color-grey-border;

    &::before {
      width: 61px;
      height: 61px;
      top: 53px;
      left: 133px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog__show-more-button {
    margin-top: 83px;
  }

  .catalog__show-more-title {
    width: 135px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .catalog__show-more-text {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    max-width: 1300px;
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__item {
    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }

  .catalog__list {
    margin: 0 auto;
    width: 1220px;
    justify-content: flex-start;
  }

  .catalog__show-more {
    width: 245px;

    &::before {
      left: 93px;
    }
  }
}
