.container {
  //box-sizing: border-box;
  //display: flex;
  //flex-direction: column;
  align-items: center;
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .container {
    align-items: flex-start;
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 40px;
  }
}
