.contacts__for-dealers {
  margin: 0;

  font-family: 'OswaldRegular', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 1);
}

.contacts__address {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(68, 68, 68, 1);
}

