.example {
  min-height: 705px;
  background-color: @color-grey-back;
  padding-top: 17px;
}

.example__title {
  margin: 0;
}

.example__description {
  margin-bottom: 40px;
}

.example__text {
  width: 266px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 23px;
}

.example__table {
  width: 100%;
  margin-bottom: 5px;
}

.example__table tbody {
  display: flex;
  justify-content: space-between;
}

.example__table tr {
  width: 124px;
  height: 56px;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  border: 1px solid @color-grey-border-dark;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__table-field {
  text-align: center;
  padding: 0;
  margin-bottom: -12px;
  font-size: 12px;
  line-height: 12px;
}

.example__table span {
  width: 88px;
  display: inline-block;
  padding: 0 10px;
  background-color: @color-grey-back;
}

.example__table-value {
  padding: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @color-black-two;

  text-transform: uppercase;
}

.example__cost {
  margin: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  line-height: 20px;
  color: @color-black-two;
  text-align: center;
  text-transform: uppercase;
}

.example__list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
  width: 100%;
  min-height: 232px;
  background-color: burlywood;
}

.example__button {
  padding: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  color: @color-black-two;
  text-transform: uppercase;
  border-bottom: 1px dotted @color-grey-light-line;
  //outline: none;

  &:hover,
  &:focus {
    border-bottom: 1px solid @color-grey-dark-line;
  }

  &:active {
    border: none;
  }
}

.example__slide-switch {
  margin: 0 auto;
  width: 100%;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  //margin-top: 35px;
}

.example__progressbar {
  padding: 3px 6px;
  width: 84px;
  height: 14px;
  background: @color-white;
  border-radius: 6px;
  border: 1px solid @color-grey-border-dark;

  cursor: pointer;
}

.example__progressbar-scale {
  //display: inline-block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: @color-green;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .example {
    padding-bottom: 73px;
    //margin: 0;
    //min-height: 1081px;
    background: linear-gradient(@color-white 57%, @color-grey-back 57%, @color-grey-back 43%);
  }

  .example__description {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 80px;
    padding-top: 27px;
    justify-content: space-between;
    //min-height: 619px;
  }

  .example__text {
    width: 674px;
    margin-top: 65px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list {
    //width: 708px;
    min-height: 517px;
    margin-bottom: 22px;
    //z-index: 2;
  }

  .example__slide-switch {
    //width: 708px;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    align-items: center;
  }

  .example__table {
    margin: 0;
    width: 366px;
  }

  .example__button {
    font-size: 20px;
  }

  .example__table-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__table-field {
    margin-bottom: -6px;
    font-size: 14px;
    line-height: 14px;
  }

  .example__table tr {
    width: 162px;
    min-height: 72px;
    margin: 0;
  }

  .example__cost {
    margin-top: 12px;
    //align-self: flex-end;
    width: 174px;
    text-align: right;
    font-size: 20px;
  }

  .example__slider {
    //margin-top: 80px;
    min-height: 462px;
    //background-color: @color-grey-back;
  }

  .example__table span {
    width: auto;
    display: inline;
    background-color: @color-white;
  }

  .example__progressbar {
    position: relative;
    width: 428px;
    height: 6px;
    border-radius: 2px;
    background-color: @color-grey-scale;
  }

  .example__progressbar-scale {
    position: absolute;
    //top: -2px;
    left: 50%;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 13px solid @color-white;
    //background-color: @color-green;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .example {
    //width: 1300px;
    //margin: 0 auto;
    //padding: 0 40px;
    //min-height: 655px;
    padding-bottom: 0;
    background: linear-gradient(@color-white 28%, @color-grey-back 28%, @color-grey-back 72%);
  }

  .example .container {
    display: flex;
    justify-content: space-between;
  }

  .example__description {
    width: 450px;
    padding-top: 54px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .example__text {
    margin-top: 147px;
    margin-bottom: 66px;
  }

  .example__list {
    //min-height: 462px;
    width: 640px;
    margin: 0 0 40px 0;
  }

  .example__table {
    margin-bottom: 57px;
  }

  .example__cost {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    text-align: left;
  }

  .example__slide-switch {
    //width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 70px;
  }

  .example__table span {
    background-color: @color-grey-back;
  }
}
