.form__fieldset {
  margin: 0;
  //margin-bottom: 30px;
  padding: 0;
  min-inline-size: 100%;
  border: none;

  &--date {
    padding: 23px 0;
  }

  &--programs {
    border-top: 1px solid @color-grey-border;
    border-bottom: 1px solid @color-grey-border;
    margin-bottom: 27px;
  }

  &--massage {
    margin-bottom: 27px;
  }

  &--contacts {
    margin-bottom: 27px;
  }
}

//.form__fieldset:not(.form__fieldset--date) {
//  margin-bottom: 27px;
//}

//.form__fieldset--date {
//  padding: 23px 0;
//}

.form__fields-list {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset--programs .form__fields-list {
  padding: 18px 0;
}

.form__legend {
  //margin-right: 15px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: @color-black-two;
}

.form__fieldset--date .form__field:not(:last-child),
.form__fieldset--contacts .form__field:not(:last-child) {
  margin-bottom: 14px;
}

.form__fieldset .form__legend {
  margin-bottom: 33px;
}

.form__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 16px;
  color: @color-black;

  text-transform: uppercase;
}

.form__input {
  flex-grow: 1;
  margin-left: 15px;
  min-height: 45px;
  padding-left: 15px;
  padding-right: 40px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @color-greyish-brown;
  border: 1px solid @color-grey-border;

  &::placeholder {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-size: 16px;
    color: @color-greyish-brown;
    text-transform: uppercase;
  }

  &:hover,
  &:focus {
    border-color: @color-grey-border-dark;
  }

  &:active {
    border: 2px solid @color-greyish-brown;
  }

  &:invalid {
    border: 2px solid @color-coral;
  }
}

.form__textarea {
  width: 280px;
  padding: 13px;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  color: @color-greyish-brown;
  border-color: @color-grey-border;
  text-transform: uppercase;

  &::placeholder {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-size: 16px;
    color: @color-greyish-brown;
  }
}

.form__bottom {
  padding-top: 10px;
}

.form__button {
  min-height: 40px;
  margin-bottom: 18px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.form__note {
  margin-left: 62px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .form__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .form__input {
    padding-left: 20px;
    min-height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .form__field {
    font-size: 20px;
    line-height: 20px;
  }

  .form__fieldset--programs .form__field {
    padding-left: 88px;
  }

  //.form__fieldset:not(.form__fieldset--date) {
  //  margin-bottom: 72px;
  //}

  .form__fieldset {
    &--date {
      margin-bottom: 50px;
    }

    &--programs {
      margin-bottom: 74px;
    }

    &--massage {
      margin-bottom: 65px;
    }

    &--contacts {
      margin-bottom: 65px;
    }

    &--add {
      margin-bottom: 35px;
    }
  }

  .form__fieldset--date .form__field:not(:last-child),
  .form__fieldset--contacts .form__field:not(:last-child) {
    margin-bottom: 20px;
  }

  .form__fieldset--programs .form__fields-list {
    //border: none;
    min-height: 196px;
    border-left: 1px solid @color-grey-border;
    border-right: 1px solid @color-grey-border;
    padding-left: 0;
    //margin-bottom: 75px;
  }

  .form__fieldset--contacts .form__legend {
    //padding-top: 27px;
    margin-bottom: 75px;
  }

  .form__fieldset--massage .form__legend {
    //padding-top: 27px;
    margin-bottom: 75px;
  }

  .form__fieldset--add .form__legend {
    margin-bottom: 50px;
  }

  .form__textarea {
    width: 631px;
    min-height: 174px;
    padding: 10px 17px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .form__fieldset--add .form__field {
    width: 300px;
    //margin-right: 70px;
  }

  .form__fieldset--add .form__fields-list {
    min-height: 130px;
  }

  //.form__fieldset--add {
  //  margin-bottom: 50px;
  //}

  //.form__fieldset--programs .form__fields-list {
  //  padding-left: 0;
  //}

  .form__fields-list {
    width: 708px;
    padding-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__button {
    width: 283px;
    //margin-bottom: 72px;
    min-height: 52px;
    float: left;
    font-size: 20px;
  }

  .form__note {
    line-height: 50px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset--date,
  .form__fieldset--programs {
    width: 570px;
  }

  .form__fieldset--date {
    min-height: 196px;
    padding: 0;
  }

  .form__fieldset--contacts div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset--contacts .form__field:first-of-type {
    margin-bottom: 0;
  }

  .form__fieldset--contacts .form__field {
    width: 570px;
  }

  .form__fieldset--massage .form__textarea {
    width: 1220px;
  }

  .form__fieldset--massage {
    margin-bottom: 60px;
  }

  .form__button {
    width: 568px;
    margin-bottom: 0;
  }

  .form__note {
    margin-left: 82px;
  }
}
