.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__fields-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;

  color: @color-black-two;
}

.form__field {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: @color-black;

  text-transform: uppercase;
}

.form__input {
  font-size: 16px;
  line-height: 18px;
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  color: @color-black;

  &::placeholder {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: @color-black;
  }
}

.form__input::placeholder {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @color-black;
}

.form__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: @color-greyish-brown;
}
