.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fields-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__legend {
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: @color-black-two;
}

.form__field {
  margin: 0;
  font-size: 16px;
  color: @color-black;

  text-transform: uppercase;
}

.form__input {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @color-greyish-brown;

  &::placeholder {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-size: 16px;
    color: @color-greyish-brown;
  }
}

.form__textarea {
  font-size: 16px;
  line-height: 18px;
  color: @color-greyish-brown;

  &::placeholder {
    font-family: "OswaldRegular", "Arial", sans-serif;
    font-size: 16px;
    color: @color-greyish-brown;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
}
