.inner-page-main__heading {
  margin: 0;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: @color-black-two;
}

.inner-page-main__contacts {
  background-color: @color-grey-back;
}
