.other-goods {
  margin-bottom: 35px;
  padding-top: 28px;
}

.other-goods__button {
  min-height: 40px;
  //width: 280px;
  font-size: 16px;
  line-height: 40px;

  &:hover,
  &:focus {
    background-color: @color-green-hover;
  }

  &:active {
    color: @color-white-active;
    background-color: @color-green-hover;
  }
}

.other-goods__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid @color-grey-border;
}

.other-goods__table td {
  width: 100%;
  display: block;
  //text-align: center;
}

.other-goods__title {
  position: relative;
  //width: ;
  margin: 0;
  margin-bottom: 34px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @color-black-two;
  font-weight: normal;

  &::after {
    content: "";
    position: absolute;
    border: solid @color-white;
    border-width: 0 20px;
    top: 50%;
    //left: 100%;
    width: 100vw;
    height: 3px;
    background: @color-green;
  }
}

.other-goods__name {
  //display: block;
  //width: 280px;
  padding: 0;
  margin-bottom: 13px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.other-goods__name a {
  color: @color-black;
}

.other-goods .container {
  //margin-top: 25px;
  //padding-bottom: 35px;
}

.other-goods__row {
  width: 100%;
  //min-height: 128px;
  padding-top: 13px;
  padding-bottom: 17px;
  display: flex;
  //display: table-cell;
  flex-wrap: wrap;
  //justify-content: center;
  border-top: 1px solid @color-grey-border;
  //flex-direction: column;
  //align-items: center;
}

.other-goods__table .other-goods__quantity,
.other-goods__table .other-goods__price {
  width: 50%;
  padding: 0;
  line-height: 14px;
  //margin-bottom: 10px;
}

.other-goods__price {
  text-align: right;
}

.other-goods__row td:last-child {
  padding: 0;
  //min-height: 100px;
  padding-top: 15px;
}

///////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .other-goods {
    //margin-top: 0;
    margin-bottom: 76px;
    padding-top: 8px;
  }

  .other-goods .container {
    //margin-top: 75px;
    //padding-bottom: 69px;
  }

  .other-goods__title {
    margin-bottom: 80px;
    margin-left: 36px;
    width: 708px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      border: solid @color-white;
      border-width: 0 37px;
      top: 50%;
      right: 100%;
      width: 100vw;
      height: 3px;
      background: @color-green;
    }

    &::after {
      border-width: 0 37px;
    }
  }

  .other-goods__table .other-goods__name {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  .other-goods__quantity,
  .other-goods__price {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .other-goods__table .other-goods__quantity {
    width: 220px;
    padding-top: 8px;
  }

  .other-goods__table .other-goods__price {
    width: 60px;
    margin-left: 35px;
    padding-top: 8px;
  }


  .other-goods__table {
    width: 100%;
    border: 1px solid @color-grey-back;
    border-collapse: collapse;
  }

  .other-goods__row {
    //min-height: 140px;
    padding: 25px 37px 28px;
    border-collapse: collapse;
  }

  .other-goods__row td:last-child {
    padding-top: 12px;
  }

  .other-goods__row:not(:first-child) {
    border-top: 1px solid @color-grey-back;
  }

  .other-goods__button {
    width: 633px;
    //width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .other-goods {
    margin-bottom: 86px;
    padding-top: 15px;
  }

  .other-goods__title {
    margin-left: 0;
  }

  .other-goods .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .other-goods__table {
    width: 895px;
    border-left: none;
    border-right: none;
  }

  .other-goods__row {
    //min-height: 71px;
    padding: 15px 0 16px;
    align-items: center;
  }

  .other-goods__table .other-goods__quantity {
    width: 210px;
    //padding-left: 10px;
  }

  .other-goods__table .other-goods__quantity,
  .other-goods__table .other-goods__price {
    text-align: left;
    //padding-top: 8px;
  }

  .other-goods__table .other-goods__name {
    width: 325px;
    margin-bottom: 0;
  }

  .other-goods__row td:last-child {
    width: 250px;
    padding-top: 0;
  }

  .other-goods__button {
    width: 245px;
    margin-left: 20px;
  }
}
