.page-footer {
  padding-top: 37px;
  background-color: @color-grey-back;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  align-items: center;
}

.page-footer__logo {
  display: block;
  margin-bottom: 27px;
  //border-bottom: 1px solid @color-grey-border;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding: 0 75px;
  border-top: 1px solid @color-grey-border;
  border-bottom: 1px solid @color-grey-border;
}

.page-footer__copyright {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-link {
  font-size: 16px;
  line-height: 16px;
  color: @color-greyish-brown;
  text-decoration: none;

  &:active {
    color: @color-greyish-brown-light;
  }
}

.page-footer__copyright-svg {
  width: 27px;
  height: 34px;

  &:active {
    fill: @color-green;
    opacity: 0.3;
  }
}

.page-footer__copyright-image {
  fill: @color-grey-icon;
}

.page-footer__copyright-image:hover .page-footer__copyright-svg,
.page-footer__copyright-image:focus .page-footer__copyright-svg {
  fill: @color-green;
}

////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .page-footer {
    padding: 56px 0;
    //min-height: 150px;
  }

  .page-footer .container {
    //height: 150px;
    flex-direction: row;
    justify-content: space-between;
    //align-items: center;
  }

  .page-footer__social {
    border: none;
    padding-left: 108px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__copyright {
    width: 170px;
    padding: 0;
    padding-left: 5px;
  }
}

//@media (min-width: @desktop-width) {
//}
