.page-header .container {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: block;
  height: 65px;
}

@media (min-width: @tablet-width) {
  .page-header .container {
    min-height: 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
