.page-header .container {
  display: flex;
  flex-direction: column;
}

.page-header-header {
  min-height: 65px;
  padding-top: 11px;
}

@media (min-width: @tablet-width) {
  .page-header .container {
    min-height: 110px;
    flex-direction: row;
    justify-content: space-between;
  }
}
