.present {
  position: relative;
  width: 280px;
  margin-top: 39px;
  //margin-bottom: 35px;
  padding: 187px 60px 42px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: @color-white;

  background-color: @color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    top: 65px;
    left: 112px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    //opacity: 0.2;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.present__text {
  margin: 0;
  //width: 165px;
}

@media (min-width: @tablet-width) {
  .present {
    width: 100%;
    min-height: 200px;
    text-align: left;
    margin-top: 69px;
    padding: 72px 125px 65px 425px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    &::before {
      left: 92px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .present__text {
    width: 160px;
  }
}

@media (min-width: @desktop-width) {
  .present {
    margin: 0;
    padding: 188px 40px 40px;
    width: 245px;
    min-height: 289px;
    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      left: 97px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }
}
