.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 280px;
  min-height: 185px;
  margin-bottom: 25px;
}

.product__title {
  margin: 0;
  width: 140px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.product__title a {
  color: @color-black-two;
}

.product__description {
  width: 140px;
  font-size: 12px;
  line-height: 16px;
}

.product__description-field,
.product__description-value {
  padding: 0;
}

.product__button {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
}

.product__image {
  order: -1;
}

.product__image img {
  display: block;
  width: 140px;
  min-height: 144px;
  background-color: #ff9f2f;
}

@media (min-width: @tablet-width) {
  .product {
    width: 324px;
    min-height: 431px;
    background-color: @color-grey-back;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    justify-content: center;
  }
}
