.product {
  max-width: 324px;
  padding: 0 20px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product__title {
  width: 75px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.product__title a {
  color: @color-black-two;
}

.product__description {
  width: 137px;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}

.product__description tr {
  width: 100%;
}

.product__description-field,
.product__description-value {
  padding: 0;
  width: 50%;
}

.product__description-field {
  text-align: left;
}

.product__description-value {
  text-align: right;
}

.product__button {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;

  &:hover,
  &:focus {
    background-color: @color-green-hover;
  }

  &:active {
    color: @color-white-active;
    background-color: @color-green-hover;
  }
}

.product__image {
  order: -1;
}

.product__image img {
  display: block;
}

@media (min-width: @tablet-width) {
  .product {
    width: 324px;
    min-height: 513px;
    margin-bottom: 58px;
    padding: 0 0 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    background: linear-gradient(@color-white 16%, @color-grey-back 16%, @color-grey-back 84%);
    border: none;
  }

  .product__title {
    display: inline-block;
    width: 130px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 20px;
  }

  .product__button {
    width: 250px;
    margin-top: 33px;
  }

  .product__text {
    width: 250px;
    text-align: center;
    padding-top: 20px;
  }

  .product__image {
    display: flex;
    align-items: flex-end;
    min-height: 208px;
    height: 207px;
  }

  .product__description {
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
  }

  .product__description tr {
    border-bottom: 1px solid @color-grey-border;
  }

  .product__description td {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    margin-bottom: 60px;
  }

  .product__text {
    width: 169px;
  }

  .product__button {
    width: 169px;
  }
}
