.product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 320px;
  padding: 0 20px 24px;
  //border: 5px solid @color-grey-border;
}

.product__title {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  width: 75px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.product__title a {
  color: @color-black-two;
}

.product__description {
  width: 137px;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
}

.product__description tr {
  width: 100%;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

.product__description-field,
.product__description-value {
  padding: 0;
  width: 50%;
}

.product__description-field {
  text-align: left;
}

.product__description-value {
  text-align: right;
}

.product__button {
  min-height: 40px;
  width: 100%;
  font-size: 16px;
  line-height: 40px;

  &:hover,
  &:focus {
    background-color: @color-green-hover;
  }

  &:active {
    color: @color-white-active;
    background-color: @color-green-hover;
  }
}

.product__image {
  order: -1;
}

.product__image img {
  display: block;
  //width: 140px;
  //height: 144px;
  //background-color: #ff9f2f;
}

@media (min-width: @tablet-width) {
  .product {
    width: 324px;
    min-height: 513px;
    margin-bottom: 58px;
    padding: 0 0 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    background: linear-gradient(@color-white 16%, @color-grey-back 16%, @color-grey-back 84%);
    border: none;

    //&:nth-child(2n) {
    //  padding-top: 0;
    //}
  }

  .product__title {
    display: inline-block;
    margin-top: 16px;
    width: 130px;
    font-size: 20px;
    margin-bottom: 0;
  }

  .product__button {
    width: 250px;
    margin-top: 33px;
  }

  .product__text {
    text-align: center;
    padding-top: 20px;
    width: 250px;
    //margin-bottom: 5px;
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-end;
    //align-items: center;
  }

  .product__image {
    //padding-bottom: 20px;
    display: flex;
    //flex-direction: column;
    //justify-content: flex-end;
    align-items: flex-end;
    //margin-top: auto;
    //margin-bottom: 0;
    //margin-left: -37px;
    //width: 161px;
    min-height: 208px;
    height: 207px;
  }

  .product__description {
    width: 100%;
    margin-top: 16px;
    font-size: 16px;
  }

  .product__description tr {
    //display: block;

    border-bottom: 1px solid @color-grey-border;
  }

  .product__description td {
    //display: block;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    margin-bottom: 60px;
  }

  .product__text {
    width: 169px;
  }

  .product__button {
    width: 169px;
  }
}
