.programs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  padding: 31px 20px 20px 20px;
  background-color: @color-grey-back;
}

.programs__title {
  position: relative;
  display: block;
  font-family: "OswaldRegular", "Arial", sans-serif;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: @color-black-two;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -68px;
    width: 50px;
    height: 51px;
    border-radius: 50%;
    background-color: @color-green;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
}

.programs__item--slim .programs__title {
  &::after {
    top: -9px;
    left: -60px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    //background-size: ;
  }
}

.programs__item--pro .programs__title {
  &::after {
    top: 4px;
    left: -78px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programs__description {
  position: relative;
  margin: 0;
  margin-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    background-color: @color-greyish-brown;
    opacity: 0.1;
    height: 1px;
    width: 240px;
    bottom: -20px;
    left: 0;
  }
}

.programs__button {
  position: relative;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @color-black-two;
  text-transform: uppercase;

  &:hover,
  &:focus {
    &::after {
      width: 34px;
      height: 12px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__button::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  margin-left: 12px;
  top: 8px;
  //right: -px;
}

@media (min-width: @tablet-width) {
  .programs {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 75px 280px 57px 53px;

    &--pro {
      padding-right: 340px;
    }
  }

  .programs__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 26px;

    &::before {
      top: 16px;
      left: 394px;
      width: 200px;
      height: 200px;
    }
  }

  .programs__item--slim .programs__title {
    &::after {
      top: 5px;
      left: 423px;
      width: 142px;
      height: 194px;
      //background-size: ;
    }
  }

  .programs__item--pro .programs__title {
    &::after {
      top: 60px;
      left: 359px;
      width: 268px;
      height: 113px;
    }
  }

  .programs__description {
    //font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;

    &::after {
      display: none;
    }
  }

  .programs__button {
    font-size: 20px;
    line-height: 20px;
  }

  .programs__button::after {
    margin-left: 23px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
    margin-left: 0;
    margin-bottom: 60px;
    padding-right: 50px;
    padding-bottom: 57px;
  }

  .programs__item:first-child {
    margin-right: 80px;
  }

  .programs__title {
    margin-left: 160px;
    margin-bottom: 75px;

    &::before {
      top: -27px;
      left: -160px;
      width: 100px;
      height: 100px;
    }
  }

  .programs__item--slim .programs__title {
    &::after {
      top: -33px;
      left: -148px;
      width: 71px;
      height: 97px;
      //background-size: ;
    }
  }

  .programs__item--pro .programs__title {
    &::after {
      top: -6px;
      left: -178px;
      width: 134px;
      height: 57px;
    }
  }

  .programs__description {
    margin-bottom: 30px;
  }
}
