.programs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  min-height: 266px;
  margin-bottom: 20px;
  padding: 31px 20px 20px 20px;
  background-color: @color-grey-back;
}

.programs__title {
  display: block;
  font-family: "OswaldRegular", "Arial", sans-serif;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: @color-black-two;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  margin-bottom: 39px;
}

.programs__button {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @color-black-two;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .programs {
    margin-bottom: 12px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 75px 280px 60px 53px;

    &--pro {
      padding-right: 340px;
    }
  }

  .programs__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
  }

  .programs__button {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
    margin-left: 0;
    margin-bottom: 60px;
    padding-right: 50px;
    padding-bottom: 60px;
  }

  .programs__item:first-child {
    margin-right: 80px;
  }

  .programs__title {
    margin-left: 160px;
    margin-bottom: 75px;
  }

  .programs__description {
    margin-bottom: 30px;
  }
}
