.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  background-color: @color-grey-back;
}

.programs__title {
  margin: 0;
  font-family: 'OswaldRegular', Arial, sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: @color-black-two;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-greyish-brown;
}

.programs__button {
  font-family: 'OswaldRegular', Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @color-black-two;
  text-transform: uppercase;
}
