.select-programs {
  font-family: 'OswaldRegular', Arial, sans-serif;
}

.select-programs__heading {
  margin: 0;

  font-size: 36px;
  line-height: 60px;
  color: @color-black-two;
}

.select-programs__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

