.select-programs {
  margin-bottom: 32px;
  padding-top: 15px;
  font-family: "OswaldRegular", "Arial", sans-serif;
}

.select-programs__heading {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: @color-black-two;
}

.select-programs__text {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 230px;
  text-transform: uppercase;
  color: @color-black-two;
}

@media (min-width: @tablet-width) {
  .select-programs {
    padding-top: 30px;
    margin-bottom: 72px;
  }

  .select-programs__text {
    margin-top: 55px;
    margin-left: 39px;
    margin-bottom: 42px;
    width: 325px;
    font-size: 20px;
    line-height: 30px;
  }

  .select-programs__form {
    padding: 0 35px 0 40px;
  }
}

@media (min-width: @desktop-width) {
  .select-programs {
    margin-bottom: 82px;
    padding-top: 58px;
  }

  .select-programs__text {
    margin-left: 0;
    margin-bottom: 65px;
  }

  .select-programs__form {
    padding: 0;
  }
}
