.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  width: 125px;
  padding-top: 21px;
  padding-bottom: 18px;
  justify-content: space-between;
  list-style: none;
}

.social__link svg {
  fill: @color-grey-icon;

  &:active {
    fill: @color-green;
    opacity: 0.3;
  }
}

.social__link:hover svg,
.social__link:focus svg {
  fill: @color-green;
}

.social__link--vkontakte svg {
  width: 22px;
  height: 12px;
}

.social__link--instagram svg {
  width: 18px;
  height: 17px;
}

.social__link--facebook svg {
  width: 10px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0;
    align-items: center;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 14px;
    height: 28px;
  }
}
