@color-green: rgba(104, 183, 56, 1);
@color-white: rgba(255, 255, 255, 1);
@color-grey-back: rgba(242, 242, 242, 1);
@color-black-two: rgba(17, 17, 17, 1);
@color-greyish-brown: rgba(68, 68, 68, 1);
@color-black: rgba(34, 34, 34, 1);
@tablet-width: 768px;
@desktop-width: 1340px;
